@import "tailwindcss";

@font-face {
  font-family: "Poppins Regular";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Semibold";
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Extrabold";
  src: url("./assets/fonts/poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins Italic";
  src: url("./assets/fonts/poppins/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Grotesk Bold";
  src: url("./assets/fonts/grotesk/SpaceGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Grotesk Medium";
  src: url("./assets/fonts/grotesk/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "Grotesk Semibold";
  src: url("./assets/fonts/grotesk/SpaceGrotesk-SemiBold.ttf");
}

@theme {
  --color-card: var(--color-gray-300);

  --spacing-layout: 1200px;

  --font-body: "Poppins Regular";
  --font-regular: "Poppins Regular";
  --font-medium: "Poppins Medium";
  --font-semibold: "Poppins Semibold";
  --font-bold: "Poppins Bold";
  --font-title-semibold: "Grotesk Semibold";
  --font-title-medium: "Grotesk Medium";
  --font-title-bold: "Grotesk Bold";

  --color-primary-50: #f0f4ff;
  --color-primary-100: #e4ebff;
  --color-primary-200: #ccdaff;
  --color-primary-300: #a4baff;
  --color-primary-400: #708bff;
  --color-primary-500: #3752ff;
  --color-primary-600: #0f22ff;
  --color-primary-700: #0018ff;
  --color-primary-800: #0017da;
  --color-primary-900: #000f9f;
  --color-primary-950: #00137a;

  --color-primary: #000f9f;
  --color-secondary: #e31d93;
}

input,
textarea,
td,
span,
div {
  font-family: var(--font-body);
}

strong {
  font-family: var(--font-semibold);
  font-weight: normal;
}

button {
  cursor: pointer;
}
