@import "tailwindcss";

@font-face {
  font-family: "Poppins Regular";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Semibold";
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Extrabold";
  src: url("./assets/fonts/poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins Italic";
  src: url("./assets/fonts/poppins/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Plus Jakarta Bold";
  src: url("./assets/fonts/plus-jakarta/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "Plus Jakarta Medium";
  src: url("./assets/fonts/plus-jakarta/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "Plus Jakarta Semibold";
  src: url("./assets/fonts/plus-jakarta/PlusJakartaSans-SemiBold.ttf");
}

@theme {
  --color-card: var(--color-gray-300);

  --radius-input: var(--radius-md);
  --radius-card: var(--radius-md);

  --shadow-input: 0 0 4px rgba(64, 213, 255, 0.7);

  --spacing-layout: 1200px;
  --spacing-layout-sm: 1000px;

  --font-body: "Poppins Regular";
  --font-regular: "Poppins Regular";
  --font-medium: "Poppins Medium";
  --font-semibold: "Poppins Semibold";
  --font-bold: "Poppins Bold";
  --font-title-semibold: "Plus Jakarta Semibold";
  --font-title-medium: "Plus Jakarta Medium";
  --font-title-bold: "Plus Jakarta Bold";

  --color-primary-50: #ecfbff;
  --color-primary-100: #d4f4ff;
  --color-primary-200: #b2eeff;
  --color-primary-300: #7de7ff;
  --color-primary-400: #40d5ff;
  --color-primary-500: #14b7ff;
  --color-primary-600: #0098ff;
  --color-primary-700: #0080ff;
  --color-primary-800: #0066cc;
  --color-primary-900: #0857a0;
  --color-primary-950: #0a3561;

  --color-secondary-50: #fff0f1;
  --color-secondary-100: #ffe1e4;
  --color-secondary-200: #ffc8ce;
  --color-secondary-300: #ff9ba6;
  --color-secondary-400: #ff6378;
  --color-secondary-500: #ff2d4f;
  --color-secondary-600: #e20935;
  --color-secondary-700: #cf0130;
  --color-secondary-800: #ad0430;
  --color-secondary-900: #940731;
  --color-secondary-950: #530015;

  --color-primary: #0066cc;
  --color-secondary: #e20935;

  --breakpoint-xs: 500px;
}

input,
textarea,
td,
span,
div {
  font-family: var(--font-body);
}

strong {
  font-family: var(--font-semibold);
  font-weight: normal;
}

button {
  cursor: pointer;
}
